@import "/styles/style";
.gameCard_body {
  width: 230px;

  .card {
    margin: 0 0 40px 0;

    .card_img > .img {
      width: 100%;
      display: block;
    }

    .card_title {
      font-size: 21px;
      text-align: center;
      padding: 10px;
      border: 1px solid gray;
    }
  }
}
